#description {
    width: 100%;
    margin:auto;
}
.ck-editor__editable[role="textbox"] {
    /* editing area */
    min-height: 18em;
}
.ck-content .image {
    /* block images */
    max-width: 80%;
    margin: 20px auto;
}
#map{
    width: 100%;
    height: 60vh;
    border: 2px solid black;
    margin: auto;
}