@media only screen and (min-width: 992px) {
    .dropdown-menu{
        position:absolute !important;
        right: 0 !important;
        z-index: 5 !important;
    }
}
a.dropdown-item:hover{
    background-color: #EC3125 !important;
    color: #fff !important;
}

