.scroll{
    height:75vh;
    overflow-y: auto;
}
/* Customize the scrollbar */
.scroll::-webkit-scrollbar {
    width: 1px; /* Set the width of the scrollbar */
}

/* Track (the background) */
.scroll::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Set the track color */
}

/* Handle (the draggable part) */
.scroll::-webkit-scrollbar-thumb {
    background-color: #EC3125; /* Set the handle color */
    border-radius: 10px;
}
li.first.disabled, li.last.disabled{
    display: none;
}
span.typed-cursor.typed-cursor--blink{
    height: 0 !important;
    display: none;
}
/* Target smartphones (portrait and landscape) */
@media only screen and (max-width: 767px) {
    /* Your CSS styles for smartphones go here */
    h5{
        font-size: 14px;
    }
}